.up{
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.about{
    padding-top: 120px;
}
.up h2{
    font-family: 'Poppins-SemiBold';
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 150%;
}
.About_big_text{
    width: 1200px;
    padding-bottom: 50px;
    padding-top: 15px;
}
