.admin{
    padding-top: 50px;
    display: flex; 
    width: 1200px;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}
.input_form{
    width: 40%;
   

}
.admin_items{
    width: 390px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 350px;
    
}
.admin_small_items{
    height: 80px;
    width: 390px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 50px;
}
.adm_but{
    padding: 5px;
}
.line_admin_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.message{
    flex-direction: column;
}
.information{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.information_first_form{
    width: 1200px;
     display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
 
}
.rass{
    width: 1200px;
    display: flex;
    flex-direction: row;
     gap: 10px;
     flex-wrap: wrap;
}


.information_main_form{
    width: 1200px;
     display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.admin_button{
    align-self: center;
}
.admin_form{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
.autorisation_form{
    margin: auto;
}
.pagination{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.active1{
    background-color: blueviolet;
}
.dont_work {
  font-family: 'Poppins-Regular';
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: white;
animation: blink-animation 1s infinite;

}
@keyframes blink-animation {
  0% { opacity: 1;  color:  red;}
  50% { opacity: 0;  color:  red; }
  100% { opacity: 1; color:  red; }
}

.in_work{
    ont-family: 'Poppins-Regular';
font-weight: 400;
font-size: 18px;
line-height: 160%;
    color: green;
}

.admin_item_but{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
