.admin{
    padding-top: 50px;
    display: flex; 
    width: 1200px;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}
.input_form{
    width: 40%;
   

}
.admin_items{
    width: 390px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    
}
.admin_small_items{
    height: 80px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 50px;
}
.adm_but{
    padding: 5px;
}
.line_admin_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.message{
    flex-direction: column;
}
.information{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.information_first_form{
    width: 1200px;
     display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
 
}
.rass{
    width: 1200px;
    display: flex;
    flex-direction: row;
     gap: 10px;
}
.information_first_form h1{
align-self: center;
}
.information_main_form{
    width: 1200px;
     display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center
 
}

.admin_button{
    align-self: center;
}