.Main_about_bottom_img{
    
    
    
}
.Main_about_bottom_img img{
    width: 883px;
    height: 525px;
    object-fit: cover;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 95px;
    position: relative;
}
.Main_about_bottom_text{
    width: 223px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: start;
    gap: 40px;
    
    
    
}
.Main_about_bottom_text h4{
    font-family: 'Poppins-Regular';
font-weight: 400;
font-size: 18px;
line-height: 160%;
letter-spacing: 0%;
color: #9C9C9C;
}
.table{
    width: 276px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: white;
    align-items: center;
    right: 150px;
    top: 100px;
    position: absolute;
    box-shadow: 6px 0px 16px -4px rgba(34, 60, 80, 0.2);
}
.table img{
    width: 51px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}
.table_text h5{
    font-family: 'Poppins-SemiBold';
font-weight: 600;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;

}



